header, header *,
a, a * {
  -webkit-transition: color .1s ease-in, background .1s ease-in;
  -moz-transition: color .1s ease-in, background .1s ease-in;
  -o-transition: color .1s ease-in, background .1s ease-in;
  transition: color .1s ease-in, background .1s ease-in;
}

*::-moz-selection {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

*::selection {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

a::-moz-selection {
  color: #6ff;
}

a::selection {
  color: #6ff;
}

a:hover::-moz-selection {
  color: #f00;
}

a:hover::selection {
  color: #f00;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #800;
}

html, body {
  margin: 0px auto;
  padding: 0px;
  min-width: 700px;
  min-height: 650px;
  width: 100%;
  height: 100%;
  font-family: "Gotham Pro", "Lucida Grande", "Trebuchet", "Arial", sans-serif;
  font-size: 14pt;
  color: #000;
  background: #fff;
  text-align: center;
}

header {
  position: absolute;
  z-index: 500;
  top: 0px;
  left: 0px;
  padding: 12px 0px;
  min-width: 700px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}

header nav {
  text-align: center;
}

header nav a {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px 10px;
}

section {
  position: absolute;
  margin: 0px auto;
  text-align: center;
  min-width: 700px;
  min-height: 650px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  z-index: 30;
}

.manifesto {
  position: relative;
  top: 35%;
  text-align: center;
  color: #000;
  z-index: 40;
}

.manifesto div img {
  width: 700px;
  height: auto;
}

.links {
  position: absolute;
  height: 32px;
  bottom: 2px;
  right: 0px;
  left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  z-index: 40;
}

.links a {
  display: inline-block;
  margin: 0 2px;
  height: 32px;
  width: 32px;
}

.links img {
  height: 32px;
  width: 32px;
}

.links .mail:hover {
  background: #D3C8B5;
}

.links .twitter:hover {
  background: #55acee;
}

.links .facebook:hover {
  background: #4462a1;
}

.links .vk:hover {
  background: #5675a3;
}

.links .vimeo:hover {
  background: #1ea8e5;
}

.links .github:hover {
  background: #4183c4;
}

.links .legal:hover {
  background: #abb3ac;
}
