header {
  position: absolute;
  min-width: 700px;
  width: 100%;
}

.content {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-width: 700px;
  min-height: 650px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  z-index: 30;
}

.manifesto {
  position: relative;
  top: 35%;
  text-align: center;
  color: #000;
  z-index: 40;
}

.manifesto div img {
  width: 700px;
  height: auto;
}

.links {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  z-index: 40;
}

.links a {
  display: inline-block;
  margin: 0 2px;
  height: 32px;
  width: 32px;
}

.links img {
  height: 32px;
  width: 32px;
}

.links .mail:hover {
  background: #D3C8B5;
}

.links .twitter:hover {
  background: #55acee;
}

.links .facebook:hover {
  background: #4462a1;
}

.links .vk:hover {
  background: #5675a3;
}

.links .vimeo:hover {
  background: #1ea8e5;
}

.links .github:hover {
  background: #4183c4;
}

.links .legal:hover {
  background: #abb3ac;
}
