header, header *,
a, a * {
  -webkit-transition: color .1s ease-in, background .1s ease-in;
  -moz-transition: color .1s ease-in, background .1s ease-in;
  -o-transition: color .1s ease-in, background .1s ease-in;
  transition: color .1s ease-in, background .1s ease-in;
}

*::-moz-selection {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

*::selection {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}

a::-moz-selection {
  color: #6ff;
}

a::selection {
  color: #6ff;
}

a:hover::-moz-selection {
  color: #f00;
}

a:hover::selection {
  color: #f00;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #800;
}

html {
  font-family: "Gotham Pro", "Lucida Grande", "Trebuchet", "Arial", sans-serif;
  font-size: 14pt;
  color: #000;
}

body {
  margin: auto;
  padding: 8px auto;
  width: auto;
  min-width: 750px;
  background: #fff;
}

.content {
  text-align: center;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 300px;
  text-align: center;
  margin-top: 40px;
}

header {
  position: relative;
  z-index: 500;
  top: 0px;
  left: 0px;
  padding: 12px 0px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}

header nav {
  text-align: center;
}

header nav a,
header a.back {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px 10px;
}

header nav a.back {
  display: block;
  color: #888;
  position: absolute;
  left: 20px;
  top: 14px;
}

header nav a.back:hover {
  color: #800;
}

header nav a.back::before {
  position: relative;
  content: "<";
  margin-right: 5px;
}

.notfound {
  position: absolute;
  min-width: 700px;
  top: 40%;
  left:0;
  right:0;
  margin: 0 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4pt;
  font-size: 25pt;
  line-height: 120%;
}
