{% extends "base.html" %}
{% load thumbnail static %}

{% block title %}{{ artwork.title }} &mdash; {{ block.super }}{% endblock %}
{% block keywords %}{{ block.super }}, artworks, {{ artwork.title }}{% endblock %}
{% block description %}{{ artwork.title }} on Kiuss site.{% endblock %}
{% block head-extras %}
    <link rel="stylesheet" type="text/css" href="{% static "css/artworks.css" %}">
    <script src="{% static "js/navigation.js" %}"></script>
    <style>
      .background {
        display: block;
        position: fixed;
        top: 0px;
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
        z-index: -10;
        opacity: .1;
        filter: url({% static "images/filters.svg" %}#blur);
        -webkit-filter: blur(3px);
        {% thumbnail artwork.image "400x400" crop="center" as im %}
        background: url({{ im.url }}) no-repeat center center;
        {% endthumbnail %}
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
{% endblock %}
{% block header %}
    <header>
      <nav>
        {% if artwork_page > 1 %}
        <a href="/artworks/author/{{ artist.user.username }}/page/{{ artwork_page }}/" class="back">{{ artist.name }}</a>
        {% else %}
        <a href="/artworks/author/{{ artist.user.username }}/" class="back">{{ artist.name }}</a>
        {% endif %}
        <a href="/">Main</a>
        <a href="/artworks/">Artworks</a>
        <a href="/about/">About</a>
      </nav>
    </header>
{% endblock %}
{% block content %}{% spaceless %}
    <div class="background"></div>
    <section class="artcontent">
      <article itemscope itemtype="http://schema.org/Painting" class="detail">
        <a itemprop="image" class="img" title="{{ artwork.title }}" href="{{ artwork.image.url }}" target="_blank">
          {% thumbnail artwork.image "1400" as im %}
          <img src="{{ im.url }}" alt="{{ artwork.title }}" />
          {% endthumbnail %}
        </a>
        <div class="photos">
          {% if artwork.image_2 %}
          <a itemprop="image" class="img" title="{{ artwork.title }}" href="{{ artwork.image_2.url }}" target="_blank">
            {% thumbnail artwork.image_2 "400" as im %}
            <img src="{{ im.url }}" alt="{{ artwork.title }} 2" />
            {% endthumbnail %}
          </a>
          {% endif %}
          {% if artwork.image_3 %}
          <a itemprop="image" class="img" title="{{ artwork.title }}" href="{{ artwork.image_3.url }}" target="_blank">
            {% thumbnail artwork.image_3 "400" as im %}
            <img src="{{ im.url }}" alt="{{ artwork.title }} 3" />
            {% endthumbnail %}
          </a>
          {% endif %}
          {% if artwork.image_4 %}
          <a itemprop="image" class="img" title="{{ artwork.title }}" href="{{ artwork.image_4.url }}" target="_blank">
            {% thumbnail artwork.image_4 "400" as im %}
            <img src="{{ im.url }}" alt="{{ artwork.title }} 4" />
            {% endthumbnail %}
          </a>
          {% endif %}
        </div>
        <div class="description">
          <h4 itemprop="name" class="title">{{ artwork.title }}</h4>
          <time itemprop="dateCreated" datetime="{{ artwork.time|date:"Y-m-d" }}">
            {{ artwork.time|date:"M. d, Y" }}
          </time>
          {% if artwork.text %}
          <p itemprop="description">
            {% autoescape off %}{{ artwork.text }}{% endautoescape %}
          </p>
          {% endif %}
          <div class="authors">
            <span>by&nbsp;</span>
            {% for author in artwork.author.all %}
            <a href="/artworks/author/{{ author.username }}/" itemprop="author">{{ author.artist.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
          {% if artwork.latitude and artwork.longitude %}
          <a class="longlat" href="http://www.openstreetmap.org/?mlat={{ artwork.latitude }}&amp;mlon={{ artwork.longitude }}#map=15/{{ artwork.latitude }}/{{ artwork.longitude }}" target="_blank">{{ artwork.latitude }}, {{ artwork.longitude }}</a>
          {% endif %}
        </div>
        {% if prev_artwork or next_artwork %}
        <nav class="navigation">
          {% if prev_artwork %}
            <a href="/artworks/author/{{ artist.user.username }}/{{ prev_artwork.id }}/" title="{{ prev_artwork.title }}" id="PaginationPrevious">Previous</a>
          {% else %}
            <span>Previous</span>
          {% endif %}
          {% if next_artwork %}
            <a href="/artworks/author/{{ artist.user.username }}/{{ next_artwork.id }}/" title="{{ next_artwork.title }}" id="PaginationNext">Next</a>
          {% else %}
            <span>Next</span>
          {% endif %}
        </nav>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'admin:artworks_artwork_change' artwork.id %}">Edit this artwork</a>
        {% endif %}
      </article>
    </section>
{% endspaceless %}{% endblock %}
