{% extends "base.html" %}
{% load static %}

{% block title %}404 Not Found &mdash; {{ block.super }}{% endblock %}
{% block description %}Page not found.{% endblock %}
{% block head-items %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
{% endblock %}
{% block header %}
    <header>
      <nav>
        <a href="/">Main</a>
        <a href="/artworks/">Artworks</a>
        <a href="/about/">About</a>
      </nav>
    </header>
{% endblock %}
{% block content %}
    <section class="content">
      <h3 class="notfound">Page cannot be&nbsp;found</h3>
    </section>
{% endblock %}
