{% extends "base.html" %}
{% load static %}

{% block title %}About {{ block.super }}{% endblock %}
{% block keywords %}{{ block.super }}, recent, news, about, manifesto{% endblock %}
{% block description %}About Kiuss.{% endblock %}
{% block head-extras %}
    <link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">
{% endblock %}
{% block header %}
    <header>
      <nav>
        <a href="/">Main</a>
        <a href="/artworks/">Artworks</a>
      </nav>
    </header>
{% endblock %}
{% block content %}
    <section class="content">
      <article class="manifesto">
        <div><img src="{% static "images/manifesto.png" %}" alt="Kiuss manifesto" /></div>
      </article>
      {% spaceless %}
      <article class="links">
        <a href="mailto:collective@kiuss.ml" class="mail" title="send email">
          <img src="{% static "images/icons/mail.png" %}" alt="mail" />
        </a>
        <a href="https://github.com/chschtsch/kiuss" class="github" title="fork on GitHub">
          <img src="{% static "images/icons/github.png" %}" alt="github" />
        </a>
        <a href="http://twitter.com/kiusscollective/" class="twitter" title="follow on Twitter" target="_blank">
          <img src="{% static "images/icons/twitter.png" %}" alt="twitter" />
        </a>
        <a href="http://www.facebook.com/kiusscollective" class="facebook" title="like on Facebook" target="_blank">
          <img src="{% static "images/icons/facebook.png" %}" alt="facebook" />
        </a>
        <a href="http://vk.com/kiuss" class="vk" title="follow on VK" target="_blank">
          <img src="{% static "images/icons/vk.png" %}" alt="vk" />
        </a>
        <a href="http://vimeo.com/kiuss" class="vimeo" title="watch on Vimeo" target="_blank">
          <img src="{% static "images/icons/vimeo.png" %}" alt="vimeo" />
        </a>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" class="legal" title="artworks are licensed under CC BY-NC 4.0">
          <img src="{% static "images/icons/legal.png" %}" alt="legal" />
        </a>
      </article>
      {% endspaceless %}
    </section>
{% endblock %}
