{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Kiuss{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}Kiuss, collective, art, graffiti{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link href="{% static "images/favicon.ico" %}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/apple-touch-icon-57x57.png" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/fonts.css" %}">
    {% block head-items %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    {% endblock %}
    <!--[if lt IE 8]>
      <meta http-equiv="refresh" content="0; url=http://www.google.com/chrome/" />
    <![endif]-->
    <!--[if gte IE 9]>
      <script src="{% static "js/html5.js" %}"></script>
      <script src="{% static "js/css3-mediaqueries.js" %}"></script>
    <![endif]-->
    {% block head-extras %}{% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %}
    {% block content %}
    <section class="content">
      <p>
        Content goes here.<br />
        This is test paragraph.
      </p>
    </section>
    {% endblock %}
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22777171 = new Ya.Metrika({id:22777171, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22777171" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
